<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Random Person Details</h2>
            <button class="btn button-btn add-person" (click)="fetchData(this.menOrWomanToggle)">
                List +10 person details
            </button>
            <app-list (genderChanged)=toggleFromList($event)></app-list>
        </div>
    </div>
</div>