MALE<mat-slide-toggle (click)="toggleGender()">FEMALE</mat-slide-toggle>
<div >
    <mat-spinner *ngIf="fetchingData" style="position: absolute; top:8vw; left: 6vh; z-index: 10"></mat-spinner>
</div>
    <div class="row person-row">
        <div [@list]="state" *ngFor="let person of personLists">
            <!-- gender from array and gender from toggle -->

            <div class="col-sm person-col" *ngIf="person.gender === 'male' && gender ==='male'">
                <p class="person-details">{{ person.title }} {{ person.first }} {{ person.last }} </p>
                <p class="picture"><img [src]="person.thumbnail"></p>
            </div>
            <!-- gender from array and gender from toggle -->
            <div class="col-sm person-col" *ngIf="person.gender === 'female' && gender ==='female'">
                <p class="person-details">{{ person.title }} {{ person.first }} {{ person.last }} </p>
                <p class="picture"><img [src]="person.thumbnail"></p>
            </div>
        </div>
</div>